@import url('https://fonts.googleapis.com/css2?family=Handlee&family:wght@400;500&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#spruchContainer {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  max-width: 90%;
}

#spruch {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  color: #333; /* Dunkelgrau */
  text-shadow: 5px 5px 5px rgba(0.8, 0.8, 0.8, 0.8);
  word-wrap: break-word;
  max-width: 80%;
}

/* Responsive Anpassungen */
@media screen and (max-width: 1024px) { /* Tablets */
  #spruch {
    font-size: 3em;
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) { /* Smartphones */
  #spruch {
    font-size: 2em;
    max-width: 95%;
  }
}
